$denim-pixel-bg: "../images/denim-pixel-bg.svg";
$testimonial-pixel-bg: "../images/testimonial-pixel-bg.svg";
$triangle-pixel: "../images/triangle-pixel.svg";
$gray-pixel: "../images/gray-pixels.svg";
$chevron-pixel: "../images/chevron-pixel.svg";
$foa-icon: "../images/foa-icon.svg";
